body {
    font-family: 'Open Sans', helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 1.6em;
}

.mt-100 {
    margin-top: 100px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-100 {
    padding-bottom: 100px;
}

.mb-70 {
    padding-bottom: 70px;
}

.mb-50 {
    padding-bottom: 50px;
}

.mb-30 {
    padding-bottom: 300px;
}

.mb-20 {
    padding-bottom: 20px;
}

.mb-10 {
    padding-bottom: 10px;
}

.pt-100 {
    padding-top: 100px;
}

.pt-70 {
    padding-top: 70px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-30 {
    padding-top: 300px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-10 {
    padding-top: 10px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pb-70 {
    padding-bottom: 70px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-30 {
    padding-bottom: 300px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-10 {
    padding-bottom: 10px;
}

.logo img {
    margin-top: 100px;
    width: 40%;
}

.titlesite {
    background: #333333;
    color: #ffffff;
    padding: 5px 0px;
    text-align: center;
}

.epaphrodite h1 {
    font-size: 200px;
    font-weight: 100px;
    text-align: center;
    width: 80%;
}

.epaphrodite {
    margin-top: 30px;
}

.epaphrodite a {
    text-decoration: none;
    text-align: center;
    padding: 10px 40px;
    background: #ffa500;
    border: 1px solid #ffa500;
    border-radius: 40px;
    color: #ffffff;
    font-weight: bold;
}

.epaphrodite a:hover {
    background: #026d49;
    color: #ffffff;
}

.form .validateforms {
    margin: auto;
    width: 40%;
    padding: 20px;
    border: 1px solid #026d49;
    border-radius: 10px;
    background: #f1f1f1;
}


.success {
    text-align: center;
    color: #198a02;
}

.error {
    text-align: center;
    color: #ee2d2d;
}

#inputlarge{
    resize: none;
  }

.loader {
    width: 70px;
    height: 70px;
    position: relative;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    position: fixed;
    border-radius: 100%;
}


/* LOADER 1 */

#loader-1:before,
#loader-1:after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 7px solid transparent;
    border-top-color: #07984d;
}

#loader-1:before {
    z-index: 100;
    animation: spin 1s infinite;
}

#loader-1:after {
    border: 7px solid #ccc;
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/*--------------------------------------------------------------
    # Mobile
--------------------------------------------------------------*/

@media (max-width: 768px) {
    .form {
        width: 10%;
    }
    .epaphrodite h1 {
        font-size: 60px;
        font-weight: 100px;
        text-align: center;
    }
}